<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<title>BeansBox - Product</title>
<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">제품 목록</h1>
        <p class="mb-4">

        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary align-items-center">

                    <!-- Topbar Search -->
                    <form action="/product/list" method="get" id="searchForm"
                          class="d-none d-sm-inline-block form-inline mr-5  my-2 my-md-0 mw-100 navbar-search ">
                        <div class="input-group">
                            <input type="hidden" name="page" value="1">
                            <div class="input-group-prepend">
                                <select name="type" aria-controls="dataTable"
                                        class="custom-select custom-select-sm form-control form-control-sm h-100">
                                    <option value="nc" th:selected="${pageRequestDTO.type == 'nc'}">전체</option>
                                    <option value="n" th:selected="${pageRequestDTO.type == 'n'}">제품명</option>
                                    <option value="c" th:selected="${pageRequestDTO.type == 'c'}">분류</option>
                                </select>
                            </div>
                            &nbsp;&nbsp;&nbsp;
                            <input type="text" name="keyword" th:value="${pageRequestDTO.keyword}"
                                   class="form-control bg-light border-0 small" placeholder="검색어를 입력하세요"
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append" id="button-addon">
                                <button type="button" class="btn btn-search btn-primary">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>

                                <button type="button" class="btn btn-clear btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fa fa-undo" aria-hidden="true"></i>
                                        </span>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!--제품 추가 버튼-->
                    <div class="d-sm-flex align-items-center justify-content-between mt-1 float-right"
                         sec:authorize="hasRole('ROLE_MANAGER')">
                        <a th:href="@{/product/register}"
                           class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa fa-plus fa-sm text-white-50"></i> 제품 추가</a>
                    </div>
                </h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>제품사진</th>
                            <th>제품명</th>
                            <th>분류</th>
                            <th>구매가</th>
                            <th>판매가</th>
                            <th>상품등록일</th>
                            <th>수량</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="dto : ${result.dtoList}">

                            <th scope="row">
                                <a th:href="@{/product/read(pnum = ${dto.pnum}, page= ${result.page},
                                type=${pageRequestDTO.type},
                             keyword= ${pageRequestDTO.keyword})}">

                                    <img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].imgpath != null }"
                                         th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">
                                </a>
                            </th>

                            <td>
                                <a th:href="@{/product/read(pnum = ${dto.pnum}, page= ${result.page},
                                type=${pageRequestDTO.type},
                             keyword= ${pageRequestDTO.keyword})}">
                                    [[${dto.pname}]]
                                </a>
                            </td>

                            <td>[[${dto.pcat}]]</td>
                            <td>[[${dto.pcost}]]</td>
                            <td>[[${dto.pprice}]]</td>
                            <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
                            <td>[[${dto.pquantity}]]</td>

                        </tr>

                        </tbody>
                    </table>

                    <ul class="pagination h-100 justify-content-end align-items-center">

                        <li class="page-item" th:if="${result.prev}">
                            <a class="page-link" th:href="@{/product/list(page= ${result.start -1},
                             type=${pageRequestDTO.type},
                             keyword= ${pageRequestDTO.keyword})}" tabindex="-1">Previous</a>
                        </li>

                        <li th:class="'page-item ' + ${result.page == page?'active':''}"
                            th:each="page: ${result.pageList}">
                            <a class="page-link" th:href="@{/product/list(page = ${page},
                             type=${pageRequestDTO.type},
                             keyword= ${pageRequestDTO.keyword})}">
                                [[${page}]]
                            </a>
                        </li>

                        <li class="page-item" th:if="${result.next}">
                            <a class="page-link" th:href="@{/product/list(page= ${result.end + 1},
                            type=${pageRequestDTO.type},
                            keyword= ${pageRequestDTO.keyword})}">Next</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

        <!-- Register Modal-->
        <div class="registeredModal modal fade" tabindex="-1" role="dialog" id="registeredModal"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="registeredModalLabel">BeansBox</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">제품 등록이 완료되었습니다.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary modal-btn" type="button" data-dismiss="modal">확인
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modifiedModal modal fade" id="modifiedModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modifiedModalLabel">BeansBox</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">마이페이지 수정이 완료되었습니다.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary modal-btn" type="button" data-dismiss="modal">확인
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="removedModal modal fade" id="removedModal" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="removedModalLabel">BeansBox</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">제품 삭제가 완료되었습니다.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary modal-btn" type="button" data-dismiss="modal">확인
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">
            var msg = [[${msg}]];
            var modified = [[${modified}]];
            var registered = [[${registered}]];
            var removed = [[${deletemsg}]];

            console.log(msg);
            console.log(modified);
            console.log(registered);
            console.log(removed);

            if (modified) {
                $(".modifiedModal").modal();
            }
            if (registered) {
                $(".registeredModal").modal();
            }
            if (removed) {
                $(".removedModal").modal();
            }

            var searchForm = $("#searchForm");

            $('.btn-search').click(function (e) {

                searchForm.submit();
            });


            $('.btn-clear').click(function (e) {

                searchForm.empty().submit();
            });
        </script>

        <script>
            function showUploadedImages(arr) {

                console.log(arr);

                var divArea = $(".uploadResult");

                for (var i = 0; i < arr.length; i++) {
                    divArea.append("<img src='/img src='/display?fileName=" + arr[i].thumbnailURL + "'>");
                }
            }
        </script>

    </th:block>
</th:block>

</html>
