<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>BeansBox - Product</title>
<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">제품 추가</h1>
        <p class="mb-4">

        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <!-- Topbar Search -->
                <h3 class="text-gray-800 align-items-center mt-2">제품 정보</h3>
            </div>

            <div class="card-body">
                <form th:action="@{/product/register}" th:method="post" th:onsubmit="return Validation()">
                    <div class="form-group">
                        <label>제품명</label>
                        <input type="text" class="form-control w-50" name="pname" id="pname">
                    </div>
                    <div class="form-group">
                        <label>분류</label>
                        <input type="text" class="form-control w-50" name="pcat" id="pcat">
                    </div>
                    <div class="form-group">
                        <label>구매가</label>
                        <input type="text" class="form-control w-50" name="pcost" id="pcost">
                    </div>
                    <div class="form-group">
                        <label>판매가</label>
                        <input type="text" class="form-control w-50" name="pprice" id="pprice">
                    </div>
                    <div class="form-group fileForm">
                        <label>제품사진</label> <br>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input files w-50"
                                   id="fileInput" multiple>
                            <label class="custom-file-label w-50" data-browse="파일 선택"></label>
                        </div>

                        <div class="box">

                        </div>

                        <style>
                            .uploadResult {
                                width: 50%;
                                background-color: #646464;
                                margin-top: 10px;
                            }

                            .uploadResult ul {
                                display: flex;
                                flex-flow: row;
                                justify-content: center;
                                align-items: center;
                                vertical-align: top;
                                overflow: auto;
                            }

                            .uploadResult ul li {
                                list-style: none;
                                padding: 10px;
                                margin-left: 2em;
                            }

                            .uploadResult ul li img {
                                width: 100px;
                            }
                        </style>

                        <div class="uploadResult">
                            <ul>

                            </ul>
                        </div>
                    </div>


                    <hr>
                    <div class="form-group">
                        <label>초기수량</label>
                        <input type="text" class="form-control w-50" name="pquantity" id="pquantity">
                    </div>

                    <button type="submit" class="btn btn-info btn-icon-split w-10">
                        <span class="text">입력 완료</span>
                    </button>
                    <button type="button" onclick="history.back()" class="btn btn-primary btn-icon-split w-10">
                        <span class="text">취소</span>
                    </button>
                </form>
            </div>
        </div>

        <script th:inline="javascript">

            function Validation() {
                var RegExp = /^[a-zA-Z0-9가-힣\(\)]{1,20}$/;
                var RegExp2 = /^[0-9]{1,20}$/;
                var RegExp3 = /^[0-9]{0,20}$/;

                var objPname = document.getElementById("pname");
                var objPcat = document.getElementById("pcat");
                var objPquantity = document.getElementById("pquantity");
                var objPcost = document.getElementById("pcost");
                var objPprice = document.getElementById("pprice");

                if (objPname.value == '') {
                    alert("제품명을 입력하세요");
                    return false;
                }
                if (!RegExp.test(objPname.value)) {
                    alert("제품명은 한글, 영문 대소문자, 숫자를 사용하여 20자 이내로 작성해 주세요")
                    return false;
                }

                if (objPcat.value == '') {
                    alert("분류를 입력하세요");
                    return false;
                }
                if (!RegExp.test(objPcat.value)) {
                    alert("분류는 한글, 영문 대소문자, 숫자를 사용하여 20자 이내로 작성해 주세요")
                    return false;
                }
                if (objPquantity.value == '') {
                    alert("초기수량을 입력하세요");
                    return false;
                }
                if (!RegExp2.test(objPquantity.value)) {
                    alert("초기수량은 20자 이내의 숫자만 입력 가능합니다")
                    return false;
                }
                if (!RegExp3.test(objPcost.value)) {
                    alert("구매가는 20자 이내의 숫자만 입력 가능합니다")
                    return false;
                }
                if (!RegExp3.test(objPprice.value)) {
                    alert("판매가는 20자 이내의 숫자만 입력 가능합니다")
                    return false;
                }
            }


            var resetForm = $("#resetForm");

            $('.btn-clear').click(function (e) {

                resetForm.empty().submit();

            });
        </script>

        <script>
            $(document).ready(function (e) {

                var regex = new RegExp("(.*?)\.(exe|sh|zip|alz|tiff)$");
                var imgRegex = new RegExp("(.*?)\.(bmp|jpg|gif|png|svg)$");
                var maxSize = 10485760; //10MB
                var isFileExist = false;

                function checkExtension(fileName, fileSize) {

                    if (isFileExist == true) {
                        alert("파일은 하나만 업로드할 수 있습니다.")
                        return false;
                    }

                    if (regex.test(fileName)) {
                        alert("해당 종류의 파일은 업로드할 수 없습니다.");
                        return false;
                    }

                    if (!imgRegex.test(fileName)) {
                        alert("이미지 파일만 업로드할 수 있습니다.");
                        return false;
                    }

                    if (fileSize >= maxSize) {
                        alert("파일 사이즈 초과");
                        return false;
                    }

                    return true;
                }

                $(".custom-file-input").on("change", function () {

                    var fileName = $(this).val().split("\\").pop();
                    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);

                    var formData = new FormData();

                    var inputFile = $(this);

                    var files = inputFile[0].files;

                    var appended = false;

                    for (var i = 0; i < files.length; i++) {

                        if (files.length > 1) {
                            alert("파일은 하나만 업로드할 수 있습니다.");
                            $(".selected").html("");
                            $(".custom-file-input").val('');
                            return false;
                        }

                        if (!checkExtension(files[i].name, files[i].size)) {
                            $(".selected").html("");
                            $(".custom-file-input").val('');
                            return false;
                        }


                        console.log(files[i]);
                        formData.append("uploadFiles", files[i]);
                        appended = true;
                    }


                    if (!appended) {
                        return;
                    }

                    for (var value of formData.values()) {
                        console.log(value);
                    }

                    $.ajax({
                        url: '/uploadAjax',
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: 'POST',
                        dataType: 'json',
                        success: function (result) {
                            console.log(result);
                            showResult(result);
                            isFileExist = true;
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            console.log(textStatus);
                            isFileExist = false;
                        }
                    });
                });

                function showResult(uploadResultArr) {

                    var uploadUL = $(".uploadResult ul");

                    var str = "";

                    $(uploadResultArr).each(function (i, obj) {

                        str += "<li data-name='" + obj.fileName + "' data-path='" + obj.folderPath + "' data-uuid='" + obj.uuid + "'>";
                        str + " <div>";
                        str += "<button type='button' data-file=\'" + obj.imageURL + "\' "
                        str += "class='btn-warning btn-sm'>X</button><br>";
                        str += "<img src='/display?fileName=" + obj.thumbnailURL + "'>";
                        str += "</div>";
                        str + "</li>";
                    });

                    uploadUL.append(str);
                }

                $(".uploadResult ").on("click", "li button", function (e) {

                    console.log("delete file");

                    var targetFile = $(this).data("file");

                    var targetLi = $(this).closest("li");

                    $.ajax({
                        url: '/removeFile',
                        data: {fileName: targetFile},
                        dataType: 'text',
                        type: 'POST',
                        success: function () {
                            alert("사진이 삭제되었습니다.");
                            targetLi.remove();
                            $(".selected").html("");
                            $(".custom-file-input").val('');
                            isFileExist = false;
                        }
                    });
                });


                $(".btn-info").on("click", function (e) {
                    e.preventDefault();

                    if (!isFileExist) {
                        alert("사진이 등록되지 않았습니다.");
                        return false;
                    }

                    var str = "";

                    $(".uploadResult li").each(function (i, obj) {
                        var target = $(obj);

                        str += "<input type='hidden' name='imageDTOList[" + i + "].imgname' value='" + target.data('name') + "'>";

                        str += "<input type='hidden' name='imageDTOList[" + i + "].imgpath' value='" + target.data('path') + "'>";

                        str += "<input type='hidden' name='imageDTOList[" + i + "].imguuid' value='" + target.data('uuid') + "'>";

                    });

                    $(".box").html(str);

                    $("form").submit();

                });


            });
        </script>

    </th:block>
</th:block>
</html>