<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">제품 추가</h1>
        <p class="mb-4">

        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                    <!-- Topbar Search -->
                    <h3 class="text-gray-800 align-items-center mt-2" >제품 정보
                    <!--제품 추가 버튼(오른쪽 정렬)-->
                        <div class="d-sm-flex align-items-center justify-content-between float-right">
                            <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"> 초기화</a>
                        </div>
                    </h3>
            </div>

            <div class="card-body">
                <form role="form">
                    <div class="form-group">
                        <label for="p_name">제품명</label>
                        <input type="text" class="form-control w-50" id="p_name">
                    </div>
                    <div class="form-group">
                        <label for="p_category">분류</label>
                        <input type="text" class="form-control w-50" id="p_category">
                    </div>
                    <div class="form-group">
                        <label for="p_cost">구매가</label>
                        <input type="text" class="form-control w-50" id="p_cost">
                    </div>
                    <div class="form-group">
                        <label for="p_price">판매가</label>
                        <input type="text" class="form-control w-50" id="p_price">
                    </div>
                    <div class="form-group">
                        <label>이미지</label>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="p_quantity">초기수량</label>
                        <input type="text" class="form-control w-50" id="p_quantity">
                    </div>
                </form>
            </div>
        </div>

        <a class="btn btn-info btn-icon-split w-10" data-toggle="modal" data-target="#regModal">
            <span class="text">입력 완료</span>
        </a>
        <a href="list" class="btn btn-primary btn-icon-split w-10">
            <span class="text">취소</span>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">BeansBox</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">제품 등록이 완료되었습니다.</div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="list">확인</a>
                    </div>
                </div>
            </div>
        </div>

    </th:block>
</th:block>
</html>