<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>BeansBox - Output</title>
<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">출고 - 수량 결정</h1>
        <p class="mb-4">

        </p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary align-items-center">

                    <!--제품 추가 버튼-->
                    <div class="d-sm-flex align-items-center justify-content-between mt-1 float-right">
                        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm registerBtn"><i
                                class="fas fa fa-plus fa-sm text-white-50"></i> 출고 </a>
                    </div>
                </h6>
            </div>

            <form action="/output/register" method="post" id="registerForm">
                <input type="hidden" th:name="ocat" th:value="${category}">
                <input type="hidden" th:name="mnum" th:value="${mnumber}">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>제품사진</th>
                                <th>제품명</th>
                                <th>분류</th>
                                <th>수량</th>
                            </tr>
                            </thead>

                            <tbody id="tablebody">
                            <tr th:each="dto : ${resultSet}">
                                <input type="hidden" th:name="pnum" th:value="${dto.pnum}">

                                <th scope="row">
                                    <img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].imgpath != null }"
                                         th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|">
                                </th>
                                <td>[[${dto.pname}]]</td>
                                <td>[[${dto.pcat}]]</td>
                                <td class="pquantity">[[${dto.pquantity}]]<i class="fa fa-minus pr-3 pl-3"
                                                                             aria-hidden="true"></i><input type="number"
                                                                                                           th:name="pquantity"
                                                                                                           th:value="1"
                                                                                                           min="1"
                                                                                                           max="100">
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <div>
                            <div><h6 th:text="${'총 품목 수: ' + resultSet.size()}"></h6>
                            </div>
                        </div>


                    </div>
                </div>
            </form>
        </div>

        <!-- Output Modal-->
        <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true" id="outputModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">BeansBox</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">현재 재고보다 출고 수량이 많습니다.<br>그대로 출고하시겠습니까?</div>
                    <div class="modal-footer">
                        <button class="btn btn-danger registeredBtn2" style="margin-right: 345px">출고</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">

            var registerForm = $("#registerForm");

            $('.registerBtn').click(function (e) {

                var chk = false;

                var rows = document.getElementById("tablebody").getElementsByTagName("tr");
                console.log(rows.length);

                for (var r = 0; r < rows.length; r++) {
                    var cells = rows[r].getElementsByClassName("pquantity");
                    var inputsData = Number(cells[0].lastElementChild.value);

                    if (inputsData <= 0 || inputsData > 100) {
                        alert("1~100 사이의 값을 입력해주세요.");
                        return false;
                    }
                }

                for (var r = 0; r < rows.length; r++) {
                    var cells = rows[r].getElementsByClassName("pquantity");
                    var cellData = Number(cells[0].firstChild.data);
                    console.log(cellData);
                    console.log(typeof cellData);
                    var inputsData = Number(cells[0].lastElementChild.value);
                    console.log(inputsData);
                    console.log(typeof inputsData);

                    if (cellData < inputsData) {
                        chk = true;
                        console.log("재고 비교 : " + chk);
                        break;
                    }
                }

                if (chk) {
                    $("#outputModal").modal();
                    return false;
                }

                registerForm
                    .attr("action", "/output/register")
                    .attr("method", "post")
                    .submit();

            });

            $('.registeredBtn2').click(function (e) {
                registerForm
                    .attr("action", "/output/register")
                    .attr("method", "post")
                    .submit();
            });


        </script>


    </th:block>
</th:block>

</html>
