<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<title>BeansBox - MyPage</title>
<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <style>
            .fieldError {
                color: #bd2130;
            }
        </style>

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">직원 정보</h1>
        <p class="mb-4"></p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">

            <div class="card-body">
                <form role="form" id="myModifyForm" th:action="@{/member/mypage}" th:method="post"
                      th:object="${memberMyPageDTO}" onsubmit="validateForm();">
                    <input type="hidden" name="mnum" th:value="${memberMyPageDTO.mnum}">
                    <input type="hidden" name="mrole" th:value="${memberMyPageDTO.mrole}">
                    <div class="form-group">
                        <label th:for="mid">아이디</label>
                        <input type="text" class="form-control w-75" th:field="*{mid}" readonly>
                    </div>
                    <div class="form-group">
                        <label th:for="mpw">비밀번호</label>
                        <input type="password" class="form-control w-75" th:field="*{mpw}" id="mpw"
                               placeholder="8~16자 영문 대 소문자, 숫자, 특수문자를 사용하세요">
                        <p th:if="${#fields.hasErrors('mpw')}" th:errors="*{mpw}" class="fieldError">Incorrect
                            data</p>
                    </div>
                    <div class="form-group">
                        <label th:for="mrepw">비밀번호 재입력</label>
                        <input type="password" class="form-control w-75" id="mrepw">
                        <span id="pwHelper" class="fieldError"></span>
                    </div>
                    <div class="form-group">
                        <label th:for="mname">이름</label>
                        <input type="text" class="form-control w-75" th:field="*{mname}">
                        <p th:if="${#fields.hasErrors('mname')}" th:errors="*{mname}" class="fieldError">Incorrect
                            data</p>
                    </div>
                    <div class="form-group">
                        <label th:for="mphone">휴대전화</label>
                        <input type="text" class="form-control w-75" th:field="*{mphone}">
                        <p th:if="${#fields.hasErrors('mphone')}" th:errors="*{mphone}" class="fieldError">Incorrect
                            data</p>
                    </div>
                    <div class="form-group">
                        <label th:for="mrole">직급</label>
                        <th:block th:if="${memberMyPageDTO.getMrole() == 'EMPLOYEE'}">
                            <input type="text" class="form-control w-25" th:value="직원" readonly>
                        </th:block>
                        <th:block th:if="${memberMyPageDTO.getMrole() == 'MANAGER'}">
                            <input type="text" class="form-control w-25" th:value="매니저" readonly>
                        </th:block>
                        <th:block th:if="${memberMyPageDTO.getMrole() == 'OWNER'}">
                            <input type="text" class="form-control w-25" th:value="점장" readonly>
                        </th:block>
                    </div>
                    <div class="form-group">
                        <label th:class="d-block">입사일</label>
                        <input type="text" class="form-control w-25 d-inline-block" th:field="*{myear}" readonly>
                        <input type="text" class="form-control w-25 d-inline-block" th:field="*{mmonth}" readonly>
                        <input type="text" class="form-control w-25 d-inline-block" th:field="*{mday}" readonly>
                    </div>

                    <span class="float-right">
                    <button type="button" class="btn btn-info btn-icon-split p-2 pl-5 pr-5 modifyBtn">수정</button>
                    <button type="button" class="btn btn-primary btn-icon-split p-2 pl-5 pr-5 cancelBtn">취소</button>
                    </span>
                </form>
            </div>
        </div>

        <script th:inline="javascript">
            $(document).ready(function () {
                $('#mpw').focus();
            });

            function validateForm() {
                if ($("#mpw").val() !== $("#mrepw").val()) {
                    $('#pwHelper').text("입력하신 비밀번호가 서로 다릅니다.");
                    $("#mpw").val("");
                    $("#mrepw").val("");
                    $("#mpw").focus();
                    return false;
                }
            }

            var actionForm = $("form");

            $(".modifyBtn").click(function () {
                validateForm();
                actionForm
                    .attr("action", "/member/mypage")
                    .attr("method", "post")
                    .submit();
            });

            $(".cancelBtn").click(function () {

                actionForm.empty();
                actionForm
                    .attr("action", "/product/list")
                    .attr("method", "get");
                actionForm.submit();
            });
        </script>
    </th:block>
</th:block>
</html>