<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">히스토리 목록</h1>
    <p class="mb-4">

    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary align-items-center">

        </h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0" >
            <thead>
            <tr>
              <th>구분</th>
              <th>품목수</th>
              <th>등록일</th>
              <th>담당자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}">
              <th scope="row">
                <a th:href="@{/history/read(onum = ${dto.onum}, page= ${result.page},
                                type=${pageRequestDTO.type},
                             keyword= ${pageRequestDTO.keyword})}">[[${dto.ocat}]]</a>
              </th>
              <td>[[${dto.odcount}]]</td>
              <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
              <td>[[${dto.mname}]]</td>

            </tr>

            </tbody>
          </table>

<!--          <ul class="pagination h-100 justify-content-end align-items-center">-->

<!--            <li class="page-item" th:if="${result.prev}">-->
<!--              <a class="page-link" th:href="@{/history/list(page= ${result.start -1},-->
<!--                             type=${pageRequestDTO.type},-->
<!--                             keyword= ${pageRequestDTO.keyword})}" tabindex="-1">Previous</a>-->
<!--            </li>-->

<!--            <li th:class="'page-item ' + ${result.page == page?'active':''}"-->
<!--                th:each="page: ${result.pageList}">-->
<!--              <a class="page-link" th:href="@{/history/list(page = ${page},-->
<!--                             type=${pageRequestDTO.type},-->
<!--                             keyword= ${pageRequestDTO.keyword})}">-->
<!--                [[${page}]]-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="page-item" th:if="${result.next}">-->
<!--              <a class="page-link" th:href="@{/history/list(page= ${result.end + 1},-->
<!--                            type=${pageRequestDTO.type},-->
<!--                            keyword= ${pageRequestDTO.keyword})}">Next</a>-->
<!--            </li>-->
<!--          </ul>-->

        </div>
      </div>
    </div>







    <!-- Register Modal-->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">BeansBox</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">제품 등록이 완료되었습니다.</div>
          <div class="modal-footer">
            <a class="btn btn-primary" href="list">확인</a>
          </div>
        </div>
      </div>
    </div>






    <script th:inline="javascript">

      var msg = [[${msg}]];

      console.log(msg);

      if(msg){
        $(".modal").modal();
      }

      var searchForm = $("#searchForm");

      $('.btn-search').click(function (e){

        searchForm.submit();
      });


      $('.btn-clear').click(function (e){

        searchForm.empty().submit();

      });
    </script>

  </th:block>
</th:block>

</html>
