<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>BeansBox - History</title>
<th:block th:replace="~{layout/basic :: setContent(~{this::content} )}">
  <th:block th:fragment="content">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">히스토리 상세 정보</h1>
    <p class="mb-4">



    </p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary align-items-center">

          <h5 th:if="${category == 'input'}"><span>구분 : </span>입고</h5>
          <h5 th:if="${category == 'output'}"><span>구분 : </span>출고</h5>
          <h5 th:if="${category == 'adjust'}"><span>구분 : </span>조정</h5>
          <h5><span>담당자 : </span>[[${pic}]]</h5>
          <h5><span>처리날짜 : </span><span th:text="${#temporals.format(regdate, 'yyyy-MM-dd HH:mm')}"></span></h5>
        </h6>

      </div>

      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0" >
            <thead>
            <tr>
              <th>제품명</th>
              <th>구매가</th>
              <th>판매가</th>
              <th>변동수량</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="dto : ${resultSet}">

              <th scope="row" th:if="${dto.pactive == 0}" style="color: #be2617">
                [[${dto.pname}]] (삭제된 제품)

              </th>
              <th scope="row" th:if="${dto.pactive == 1}">
                [[${dto.pname}]]

              </th>
              <td>[[${dto.pcost}]]</td>
              <td>[[${dto.pprice}]]</td>
              <td>[[${dto.odquantity}]]</td>
            </tr>

            </tbody>
          </table>

          <a th:href="@{/history/list}" class="btn btn-primary btn-icon-split col-1 offset-11">
            <span class="text">돌아가기</span>
          </a>

        </div>
      </div>
    </div>


  </th:block>
</th:block>

</html>
